.debug {
	background-color: #ffe;
	color: #000;
	margin: 1em;
	padding: 1em;
	overflow: auto;
	height: auto;
	max-height: 20em;
	font-size: 1em;
}


.debug .trace.file,
.debug .trace.line {
	color: #c88;
}

.debug .trace.function {
	color: #8cc;
}
.debug .trace.type {
	color: #888;
}
.debug .trace.class {
	color: #c8c;
}
.debug .trace.object {
	color: #cc8;
}

body.prod {
	background:
		linear-gradient(135deg, #111 22px, #222 22px, #222 24px, transparent 24px, transparent 67px, #222 67px, #222 69px, transparent 69px),
		linear-gradient(225deg, #111 22px, #222 22px, #222 24px, transparent 24px, transparent 67px, #222 67px, #222 69px, transparent 69px)0 64px;
	background-color:#111;
	background-size: 64px 128px
}

body.test {
	background:
		radial-gradient(black 15%, transparent 10%) 0 0,
		radial-gradient(black 15%, transparent 10%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#111;
	background-size:16px 16px;
}
body.dev {
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #111;
	background-size: 20px 20px;
}
/*

.bordersAll * {
	border:1px dotted rgba(255,255,255,.1);
}
.row {
	border: 1px dotted rgba(255,0,0,.3)
}

.row>[class*="col"] {
	border: 1px dotted rgba(255,255,0,.3)
}
*/
