@media (min-width: 900px) {
	.menu>.main>li>a>span {
		display: block;
		padding: .25rem .5rem;
	}
	.cool .menu>.main {
		margin: 0 1rem;
	}
	.cool .menu>.main>li {
		padding: .25rem;
	}
	.cool .menu>.main>li,
	.cool .menu>.main>li>ul,
	.cool .menu>.main>li>a>span,
	.cool .menu>.main>li>label,
	.cool .menu>.main>.has>.sub {
		transform-style: preserve-3d;
	}
	.cool .menu>.main>li {
		border: none;
		transform: skewX(30deg);
	}
	.cool .menu>.main>li>a {
		--margin: .4rem;
	}

	.cool .menu>.main>li>a>span,
	.cool .menu>.main>li>ul {
		transform: skewX(-30deg);
	}
	.cool .menu>.main>li>ul {
		transform-origin: 0 0;
	}
	.cool .menu.right>.main>li {
		transform: skewX(-30deg);
	}
	.cool .menu.right>.main>li>a>span {
		transform: skewX(30deg);
	}
	.cool .menu.right>.main>li>ul {
		transform-origin: 100% 0;
		transform: skewX(30deg);
	}
}

@media (max-width: 50rem) {
	.cool .menu>.main>li,
	.cool .menu>.main>li>ul,
	.cool .menu>.main>li>a {
		transform: skewX(0) !important;
	}
}
